@font-face {
  font-family: Merienda;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merienda/v19/gNMaW3x8Qoy5_mf8uUkJGHtiYXjmKFy5JHhYTkT9.woff2);
 }

 body {
  background-image: url(https://rawcdn.githack.com/ElionAmamion/pics/20f57b08650e04496f6428d178e22ae56605db8d/night_sky.png);
}

h1 {
  font-family: Merienda;
  text-align: center;
  color: darkred;
}

p {
  color: firebrick;
}

img {
  border: 10px white;
  border-radius: 10px;
  padding: 15px;
}

hr {
  background-image: url(https://rawcdn.githack.com/ElionAmamion/pics/8474c97746f69e99977beb4bde525cd320835a06/IMG_1304.png) no-repeat center;
  border: none;
}